
<p>
  <b>Cards:</b>
  <table>
  <tr>
      <th>Name</th>
      <th>Card type</th>
      <th>Subtype</th>
      <th>Side</th>
      <th>Faction</th>
      <th>Influence cost</th>
      <th>Card set</th>
      <th></th>
      <th></th>
      <th></th>
  </tr>

  <% cards.each do |card| %>
  <tr>
      <td><%= link_to card.name, card %></td>
      <td><%= card.card_type %></td>
      <td><%= card.subtype %></td>
      <td><%= card.side %></td>
      <td><%= card.faction %></td>
      <td><%= card.influence_cost %></td>
      <td><%= link_to card.card_set.name, card.card_set %></td>
  </tr>
  <% end %>
  </table>
</p>
